<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hungry_student_login">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.Hungry_Student_Login"
        android:usesCleartextTraffic="true"


        >
        <activity
            android:name=".mainPage.restaurant.MainPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.Register" android:label="Register"/>

        <activity android:name=".login.Login" android:label="로그인"/>
        <activity android:name=".mainPage.restaurant.RestaurantInfoPage" android:label="식당정보">

        </activity>
        <activity android:name=".mainPage.Board.PostActicity" android:label="Post">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainPage.restaurant.MainPage"/>
        </activity>
        <activity android:name=".mainPage.Board.BoardWriteActivity" android:label="PostWrite">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainPage.restaurant.MainPage"/>
        </activity>
        <activity android:name=".login.Register_detail_school" android:label="register_detail_school">

        </activity>
        <activity android:name=".login.Register_detail_normal" android:label="Register_detail_normal"/>
        <activity android:name=".login.WebViewActivity" android:label="WebView"/>
    </application>

</manifest>